<h1>Login Account</h1>
<div class="center">
  <%= form_for(:session, url: sessions_path) do |f| %>

    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>

    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>

    <td><%= f.submit 'login', class: 'btn btn-large btn-primary' %></td>

  <% end %>
</div>